:root {
  $blue: #2196f3;
  $black: #212121;
  $blue-text: rgb(33, 150, 243, 1);
  $background-card: rgb(33, 150, 243, 0.9);
  $dominant-color: rgb(33, 33, 33, 1);
  $white-font: rgb(255, 255, 255, 1);
  $background-title: rgb(47, 48, 58, 1);
  $background-sub-title: rgb(47, 48, 58, 0.8);
  $paragraph-color: rgb(117, 117, 117, 1);
  $second-background: rgba(245, 244, 250, 1);
  $border-icon: rgba(175, 177, 184, 1);
}
